.navbar {
    background-color: #8c00b2;
    border-bottom: 0.2rem solid #f05656;

    .text-decoration-none {
        color: #212529;
    }

    .text-decoration-none:hover {
        color: #8c00b2;
    }

}